/**
 * Created by ElenaSolovey on 12/14/2022.
 */

.accountItemsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    align-content: space-around;
}

.accountItemCard {
    width: 25%;
}

.container {
    background-color: var(--lwc-colorBackgroundAlt);
    padding: var(--lwc-spacingMedium);
    border-radius: var(--lwc-borderRadiusMedium);
    position: relative;
}